
.error {
    color: red;
    margin-left: 5px;
}

label.error {
    display: inline;
}

h1.title {
    padding: 15px 0;
    margin-left: 25px;
    font-weight: normal;
    color: #bd2130;
}

.delete-checkbox{
    float: left;
    position: absolute;
    top: 12px;
}

#product_form {
    background: #d3cece;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px
}

#product_form label {
    display: block;
    color: #4c4848;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}

#product_form input {
    border: 0;
    outline: 0;
    height: 50px;
    background: #FFF;
    width: 100%;
    border-radius: 5px;
    color: #155BDA;
    font-weight: 700;
    font-size: 15px;
    text-indent: 15px;
    border: 2px solid transparent;
    transition: border 250ms;
}

#product_form select {
    border: 0;
    outline: 0;
    height: 50px;
    background: #FFF;
    width: 100%;
    border-radius: 5px;
    color: #4c4848;
    font-weight: 700;
    font-size: 15px;
    text-indent: 15px;
    border: 2px solid transparent;
    transition: border 250ms;
}

.delete-product-button {

    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #dc3545;
    border: 1px solid transparent;
    padding: 8px;
    font-size: 20px;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.delete-product-button button:hover {
    background: rgba(57, 50, 173, 1);
}

#button, .btn {
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #dc3545;
    border: 1px solid transparent;
    padding: 12px;
    font-size: 20px;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.card{
    margin: 15px;
    background-color: #eff5f5;
    padding-top: 20px;
}

.card-body {
    text-align: center;
}

hr.line {
    border: 1px solid #9a9a9a;
}

.main{
    min-height: 100vh;
    margin-bottom: -100px;
}
footer, .push {
    height:100px;
    text-align: center;
}